:root {
  background-image: url(https://cdn.pixabay.com/animation/2023/03/19/02/34/02-34-11-741_512.gif);
  background-color: rgb(0, 0, 0);
  background-repeat: repeat;
  color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.ex {
  margin-top: 100px;
  font-size: xx-large;
  color: aliceblue;
}

/* NavBar */
.navBar {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  font-family: "Roboto", sans-serif;
  padding: 0 20px;
}

.navBarContent {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
}

.nbDateTime {
  display: flex;
  align-items: center;
  gap: 10px;
  color: red;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  margin-right: 20px;
}

.navBarL {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 1.2rem;
  font-family: "Merriweather", serif;
}

.navBarL li {
  display: flex;
  align-items: center;
}

.navBarL .nL {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.navBarL .nL:hover {
  color: red;
}

.navBarL .nL-logout-icon {
  background: none;
  border: none;
  color: red;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.navBarL .nL-logout-icon:hover {
  transform: scale(1.1);
}

.nbDateTime {
  margin-left: -100px;
  margin-top: -5px;
  margin-bottom: -5px;
  color: red;
  font-size: small;
  font-family: sans-serif;
}

.hamburger {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.vLogo {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .navBar {
    position: fixed;
    justify-content: space-between;
  }
  .navBar .nbDateTime {
    height: 100px;
    margin: 15px;
  }
  .navBar .hamburger {
    z-index: 999;
    margin: 45px;
    display: inline-block;
    cursor: pointer;
  }
  .navBar .hamburger div {
    width: 30px;
    height: 4px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
  }
  .navBar .hamburger.open .bar1 {
    transform: rotate(-45deg) translate(-7.5px, 8px);
    width: 30px;
    margin: none;
  }
  .navBar .hamburger.open .bar2 {
    opacity: 0;
  }
  .navBar .hamburger.open .bar3 {
    transform: rotate(45deg) translate(-6px, -7px);
    width: 30px;
  }
  .navBar .navBarL {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    right: -222px;
    width: 222px;
    height: 100%;
    background-color: black;
    transition: right 0.4s;
  }
  .navBar .navBarL.open {
    right: 0;
    top: 0;
  }
  .navBar .navBarL .vLogo {
    display: block;
    padding: 5px;
    height: 215px;
  }
  .navBar .navBarL li {
    margin-left: 10px;
    margin-top: -10px;
    padding: 10px;
  }
  .navBar .navBarL .nL {
    text-decoration: none;
    color: white;
  }
  .navBar .navBarL .nL:hover {
    color: #c20000;
  }
  .navBar .navBarL .nL-logout-icon {
    font-family: "Merriweather", serif;
    border: none;
    outline: none;
    background: none;
    width: 100%;
    margin: 0.6rem 0 1rem 0;
    cursor: pointer;
    font-size: 1.1rem;
    color: #c20000;
    text-transform: capitalize;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 11px rgba(101, 101, 101, 0.2), -1px -1px 5px rgba(255, 255, 255, 0.75);
  }
  .navBar .navBarL .nLin {
    font-family: "Merriweather", serif;
    border: none;
    outline: none;
    background: none;
    width: 100%;
    margin: 0.6rem 0 1rem 0;
    cursor: pointer;
    font-size: 1.1rem;
    color: #ffffff;
    text-transform: capitalize;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 11px rgba(101, 101, 101, 0.2), -1px -1px 5px rgba(255, 255, 255, 0.75);
  }
  .navBar .navBarL .nL-logout-icon:hover, .navBar .navBarL .nLin:hover {
    transform: none;
    transition: color 0.3s;
    color: #c20000;
    box-shadow: inset 5px 5px 11px rgba(0, 0, 0, 0.2), inset -1px -1px 5px rgba(255, 255, 255, 0.75);
  }
}
.search-bar-container {
  padding-top: 10vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}

.search-bar {
  display: flex;
  flex-direction: row;
}

.input-wrapper {
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  background-color: white;
  display: flex;
  align-items: center;
}

.searchInput {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
}

.searchInput:focus {
  outline: none;
}

.search-icon {
  margin-top: 3.5px;
  color: black;
}

.rListContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: max-content;
}

.subcategory {
  margin-left: 10px;
  color: rgb(208, 0, 0);
}

.resLi {
  margin-top: -10px;
  margin-left: 10px;
}

.srTitle {
  color: black;
}

.category-result {
  color: rgba(155, 10, 10, 0.57);
  margin-bottom: 5px;
}

.browse-Result-List {
  color: black;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 150px;
  overflow-y: auto;
}

.tv-Result-List {
  color: black;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 150px;
  overflow-y: auto;
}

.nowPlaying-Result-List {
  color: black;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 150px;
  overflow-y: auto;
}

.search-result {
  padding: 10px 20px;
}

.search-result:hover {
  margin-right: 10px;
  background-color: #efefef;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .input-wrapper {
    width: 280px;
  }
  .searchInput {
    width: 260px;
  }
  .Results-Lists {
    width: 260px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .input-wrapper {
    width: 380px;
  }
  .searchInput {
    width: 360px;
  }
  .Results-Lists {
    width: 360px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .input-wrapper {
    width: 400px;
  }
  .searchInput {
    width: 380px;
  }
  .Results-Lists {
    width: 380px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .input-wrapper {
    width: 500px;
  }
  .searchInput {
    width: 480px;
  }
  .Results-Lists {
    width: 480px;
  }
}
@media screen and (min-width: 1201px) {
  .input-wrapper {
    width: 600px;
  }
  .searchInput {
    width: 580px;
  }
  .Results-Lists {
    width: 580px;
  }
}
footer {
  z-index: 99;
  background-color: black;
  padding: 10px;
  text-align: center;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
}

footer .git {
  margin-right: 20px;
}

footer .about-us-link {
  text-decoration: none;
  margin-left: 20px;
}

footer .about-us-link:hover {
  text-decoration: underline;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

/* Movie List */
.mLContainer {
  margin-top: -15px;
}

.movie-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.slideshow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 50px 0;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.slideshowSlider {
  display: flex;
  transition: ease 1500ms;
}

.slide {
  flex-shrink: 0;
  width: 100%;
  height: 650px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  background: none;
}

.overlay-content {
  color: white;
  padding: 20px;
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

.overlay-info {
  text-align: left;
  margin-bottom: 20px;
}

.overlayTitle {
  margin: 0;
  color: rgb(255, 255, 255);
  text-shadow: -1px 1px 15px #000000;
}

.overlayBtn {
  margin-top: 10px;
}

.overlayDots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
  z-index: 2;
}

.slideshowDots {
  display: flex;
  gap: 10px;
}

.slideshowDot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}

.slideshowDot.active {
  opacity: 1;
}

.mLHeading {
  padding-bottom: 50px;
  text-align: center;
  font-size: xx-large;
  color: rgb(229, 229, 229);
}

.mLWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mlCard-Container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mlCard {
  display: flex;
  flex-wrap: wrap;
}

.mlCardWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 70px;
}

.mLImg-Container {
  margin-right: 50px;
}

.mLImg {
  height: 400px;
  width: auto;
}

.mLText-Container {
  justify-content: center;
  align-content: center;
  text-align: left;
  width: 600px;
  margin-right: 20px;
}

.mLT {
  font-size: xx-large;
  font-style: oblique;
  color: rgb(222, 222, 222);
}

.mLO {
  font-size: large;
  font-weight: 200;
  color: rgb(195, 192, 192);
}

.button-Get-Tickets {
  background-color: rgb(255, 0, 0);
  height: 40px;
  width: 111px;
  border-radius: 50px;
  border: none;
  font-size: 15px;
  font-weight: 500px;
  color: rgb(255, 255, 255);
  position: relative;
  box-shadow: 0px 0px 12px 6px rgba(178, 0, 0, 0.7725490196);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button-Get-Tickets:hover {
  transform: scale(1.1);
}

.mLBtn {
  height: 60px;
  width: 60px;
}

.mv-btn-link {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(210, 210, 210, 0.704);
  border: none;
  margin-top: 17px;
  cursor: pointer;
  font-size: 22px;
}

.qrCodeContainer {
  padding: 10px;
}

.qrCodeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: large;
  color: #d40000;
}

.qrCode {
  height: 200px;
  width: auto;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .mLContainer {
    margin: 20px;
    margin-top: 100px;
  }
  .slide {
    height: 200px;
  }
  .overlayTitle {
    font-size: 15px;
  }
  .overlayBtn {
    height: 10px;
  }
  .mLWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .mLHeading {
    font-size: 20px;
  }
  .movie-list-container {
    margin-left: -35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .mlCard-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mlCardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 70px;
  }
  .mlCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 300px;
  }
  .mLImg-Container {
    width: 250px;
  }
  .mLImg {
    height: auto;
    width: 250px;
  }
  .mLText-Container {
    width: 250px;
  }
  .mLT {
    font-size: 25px;
  }
  .mLO {
    display: none;
  }
  .button-Get-Tickets {
    height: 35px;
    width: 90px;
    border-radius: 20px;
    font-size: 12px;
  }
  .qrCodeWrapper, .qrCodeContainer, .qrCodeContent, .qrCode {
    display: none;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .mLContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .slide {
    height: 300px;
  }
  .overlayTitle {
    font-size: 25px;
  }
  .overlayBtn {
    height: 10px;
  }
  .movie-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .mlCard-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 500px;
    margin-top: 20px;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 70px;
  }
  .mLWrapper {
    margin-right: -100px;
  }
  .mLHeading {
    margin-left: -120px;
  }
  .mlCardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 500px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mlCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 400px;
  }
  .mLImg-Container {
    width: 350px;
  }
  .mLImg {
    height: auto;
    width: 350px;
  }
  .mLText-Container {
    width: 350px;
    padding: 5px;
  }
  .mLT {
    font-size: 25px;
  }
  .qrCodeWrapper, .qrCodeContainer, .qrCodeContent, .qrCode {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .movie-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .slide {
    height: 400px;
  }
  .overlayTitle {
    font-size: 20px;
  }
  .overlayBtn {
    height: 10px;
  }
  .mlCard-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mlCardWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 70px;
  }
  .mLText-Container {
    width: fit-content;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .mLContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .slideshow {
    margin-left: 15px;
  }
  .movie-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .slide {
    height: 400px;
  }
  .overlayTitle {
    font-size: 25px;
  }
  .overlayBtn {
    height: 10px;
  }
  .mlCard-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mlCardWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1000px;
    margin-top: 20px;
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 2559px) {
  .mLContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .slideshow {
    width: 100%;
  }
  .slide {
    height: 600px;
  }
  .overlayTitle {
    font-size: 55px;
  }
  .overlayBtn {
    height: 30px;
  }
  .movie-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
  .mlCard-Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mlCardWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1250px;
    margin-top: 20px;
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 2560px) and (max-width: 5119px) {
  .mLContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .slideshow {
    margin-left: -10px;
    width: 100%;
  }
  .slide {
    height: 1000px;
  }
  .overlayTitle {
    font-size: 65px;
  }
  .overlayBtn {
    height: 10px;
  }
  .mlCardWrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .slideshow {
    margin: 100px 0;
  }
  .slide {
    height: 800px;
  }
  .overlay {
    justify-content: space-between;
  }
}
@media screen and (min-width: 5120px) and (max-width: 5279px) {
  .mLContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .slideshow {
    margin-left: -10px;
    width: 100%;
  }
  .slide {
    height: 1500px;
  }
  .overlayTitle {
    font-size: 115px;
  }
  .overlayBtn {
    height: 50px;
  }
  .button-Get-Tickets {
    height: 50px;
    width: 150px;
    font-size: 18px;
  }
}
/* Movie Page */
.movie-page-container {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: -8px;
  margin-top: 60px;
  color: white;
}

.movie-page-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.35);
}

.movie-page-content {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 1;
  margin: 50px;
}

.watch-trailer-button {
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.play-btn {
  margin-bottom: -200px;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.678);
}

.vid-content {
  height: 600px;
  margin-top: -325px;
  margin-bottom: -350px;
}

.mpVideo-Container-enter-active {
  display: none;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 100s ease-out, opacity 10s ease-out;
}

.mpVideo-Container.show {
  margin-top: 200px;
  display: block;
  opacity: 1;
  transform: translateY(100%);
  background-color: rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 12px 3.5px rgba(0, 0, 0, 0.7725490196);
  transition-duration: 3s;
}

.mpVideo-Container.exit {
  margin-top: 200px;
  display: block;
  opacity: 1;
  transform: translateY(-100%);
  background-color: rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 12px 3.5px rgba(0, 0, 0, 0.7725490196);
  transition-duration: 3s;
}

.mpVideo-Container-enter-done {
  display: none;
  transform: translateY(0%);
  transition: transform 100s ease-out, opacity 10s ease-out;
}

.mpInfo {
  margin-top: 380px;
}

.mpText-Container {
  position: relative;
  margin-top: 200px;
  margin-bottom: 200px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: rgb(218, 209, 209);
  font-size: larger;
  box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.7725490196);
  background-color: rgba(165, 165, 165, 0.1);
  border-radius: 5px;
}

.mpTitle {
  margin-left: 10px;
  font-style: oblique;
}

.mpt {
  margin-top: -15px;
  margin-left: 10px;
  font-size: medium;
}

.mpp {
  margin-top: -10px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.mpShowtimes-Container {
  color: white;
  margin-top: 100px;
  margin-bottom: 100px;
}

@media screen and (min-width: 320px) and (max-width: 860px) {
  .movie-page-container {
    background-size: cover;
    background-position: center;
    width: max-content;
    height: auto;
    overflow: hidden;
    position: relative;
    bottom: -100px;
  }
  .movie-page-container, .mpImg {
    margin-top: -110px;
    object-fit: contain;
    width: fit-content;
  }
  .movie-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  .mpText-Container {
    margin-top: 300px;
    height: auto;
    width: auto;
  }
  .play-btn {
    margin-bottom: -300px;
  }
  .vid-content {
    width: auto;
    height: 600px;
    margin-top: -425px;
    margin-bottom: -350px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    position: relative;
  }
  .mpVideo-Container.show {
    margin-top: 120px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
}
@media screen and (min-width: 2000px) {
  .mpText-Container {
    width: 900px;
  }
  .mpInfo {
    margin-left: 100px;
    margin-bottom: 400px;
    justify-content: center;
    align-content: center;
  }
  .mpVideo-Container.show {
    justify-content: center;
    align-content: center;
    margin-top: 480px;
    transition-duration: 5s;
  }
  .mpVideo-Container.exit {
    margin-top: -1000px;
    transition-duration: 5s;
  }
}
/* Browse List */
.bmContainer {
  display: flex;
  margin: 20px;
  margin-top: 100px;
}

.browse-movies-container {
  justify-content: center;
}

.bmHeading {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  font-size: xx-large;
  color: rgb(229, 229, 229);
}

.bmWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bmCard-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bmCard {
  justify-content: center;
  height: 450px;
  width: 280px;
  margin: 50px;
  padding: 10px;
}

.bmImg-Container {
  background-repeat: no-repeat;
  justify-content: center;
  height: 400px;
  width: 268px;
  padding: 5px;
}

.bmImg {
  height: 400px;
  width: auto;
  background-color: #ffffff;
  position: relative;
  box-shadow: 0px 0px 8px 11px rgba(255, 243, 195, 0.5450980392);
}

.bmText-Container {
  margin-top: 5px;
  font-size: small;
  color: rgba(195, 192, 192, 0.858);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.bmText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
}

.bmT {
  margin-bottom: -5px;
  font-style: oblique;
  font-size: large;
  color: rgba(222, 222, 222, 0.878);
}

.bmP {
  margin-bottom: -10px;
}

.bmBtn {
  height: 20px;
  width: 20px;
}

.bmButt {
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.brws-btn-link {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(222, 222, 222, 0.878);
  border: none;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: -5px;
  cursor: pointer;
}

.watchlist-btn {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(222, 222, 222, 0.878);
  border: none;
  font-size: large;
  cursor: pointer;
}

/* Pagination Controls */
.pagination-controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.pagination-btn {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.pagination-btn:disabled {
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}

.pagination-btn:hover:not(:disabled) {
  transform: scale(1.1);
}

.pagination-page {
  font-size: 18px;
  color: white;
}

/* Browse List Categories */
.lib-cat-w {
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.lib-cat {
  color: rgb(229, 229, 229);
}

.category-nav {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.category-btn {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: x-large;
  font-weight: 300;
  text-shadow: -1px 1px 11px #fffcbc;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.category-btn:hover {
  transform: scale(1.1);
}

.link {
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .bmContainer {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .bmHeading {
    margin: 0%;
    margin-left: 6%;
    font-size: 25px;
  }
  .category-nav {
    margin: 0%;
    margin-top: -30px;
    margin-left: 6%;
  }
  .category-btn {
    font-size: small;
  }
  .bmCard {
    justify-content: center;
    height: 222px;
    width: 110px;
    margin: 5px;
    margin-top: 20px;
  }
  .bmImg-Container {
    background-repeat: no-repeat;
    justify-content: center;
    height: 200px;
    width: 110px;
    padding: 5px;
  }
  .bmImg {
    height: 160px;
    width: auto;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0px 0px 7px 6px rgba(255, 243, 195, 0.5450980392);
  }
  .bmText-Container {
    margin-top: -30px;
    height: 50px;
  }
  .bmText {
    margin-top: 0%;
    width: 85px;
  }
  .bmT {
    font-size: 12px;
    margin-top: -10px;
  }
  .bmButt {
    margin-top: -20px;
    width: 20px;
  }
  .brws-btn-link {
    font-size: 12px;
  }
  .watchlist-btn {
    margin-top: 2px;
    font-size: 12px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .bmContainer {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    margin-top: 100px;
    margin-bottom: 70px;
  }
  .bmHeading {
    margin: 0%;
    margin-left: 6%;
    font-size: 25px;
  }
  .category-nav {
    margin: 0%;
    margin-left: 6%;
  }
  .category-btn {
    margin-top: -50px;
    font-size: larger;
  }
  .bmCard {
    justify-content: center;
    height: 333px;
    width: 220px;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .bmImg-Container {
    background-repeat: no-repeat;
    justify-content: center;
    height: 300px;
    width: 200px;
    padding: 5px;
  }
  .bmImg {
    height: 280px;
    width: auto;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0px 0px 8px 8px rgba(255, 243, 195, 0.5450980392);
  }
  .bmText-Container {
    margin-top: -25px;
    height: 80px;
  }
  .bmText {
    margin-top: -10%;
    width: 155px;
  }
  .bmT {
    font-size: 18px;
  }
  .bmButt {
    margin-top: -20px;
    width: 60px;
  }
  .brws-btn-link {
    font-size: 15px;
  }
  .watchlist-btn {
    margin-top: 2px;
    font-size: 15px;
  }
}
/* Browse Page */
.browse-page-container {
  margin: -8px;
  margin-top: 1px;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  position: relative;
}

.browse-page-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.browse-page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  z-index: 1;
  margin: 50px;
}

.bpVideo-Container {
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 12px 5px #000000;
  height: 360px;
}

.bpVideo-Container-enter {
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 12px 5px #000000;
  height: 360px;
}

.bpInfo {
  display: flex;
  align-items: center;
}

.bpTitle {
  font-style: oblique;
  color: rgb(222, 222, 222);
}

.bpText-Container {
  justify-content: center;
  margin-top: 200px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 5px;
  color: white;
  font-size: large;
  width: 500px;
  box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.7725490196);
  background-color: rgba(165, 165, 165, 0.1);
  border-radius: 5px;
}

.bpT {
  color: rgb(222, 222, 222);
}

.atwBtn {
  background-color: rgba(187, 187, 187, 0.1882352941);
  border: none;
  box-shadow: 0px 0px 12px 3px #dddddd;
  color: rgb(216, 216, 216);
  cursor: pointer;
  padding: 3px;
  margin-bottom: 2px;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
}

.atwBtn:hover {
  transform: scale(1.1);
}

.atwNotif {
  margin-bottom: 50px;
  width: auto;
}

@media screen and (min-width: 320px) and (max-width: 1269px) {
  .browse-page-container {
    background-size: cover;
    background-position: center;
    height: auto;
    position: relative;
    overflow: hidden;
  }
  .bpVideo-Container {
    height: auto;
    width: auto;
  }
  .bvid-content {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }
  .bpInfo {
    margin-top: -100px;
    padding-bottom: 100px;
    width: auto;
  }
  .bpText-Container {
    height: fit-content;
    width: auto;
  }
}
@media screen and (min-width: 1600px) {
  .bpText-Container {
    width: 800px;
  }
}
/* TheaterList.jsx */
.theater-list-container {
  margin: 100px;
}

.theater-list-container.modal-open {
  filter: blur(3px);
}

.theater-list-heading {
  text-align: center;
}

.theater-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.theater-card {
  margin: 30px;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.5s;
}

.theater-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.555);
  transition: background 0.3s;
}

.theater-card:hover::before {
  background: rgba(0, 0, 0, 0);
}

.theater-card:hover h2 {
  background-color: rgb(232, 232, 232);
  color: rgb(67, 67, 67);
}

.tlbgImg {
  height: 250px;
  width: 250px;
  background-size: cover;
  background-position: center;
}

.tlbgImg:hover {
  opacity: 1;
}

.tlLoc-Overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 2px;
  z-index: 2;
}

.theater-location {
  padding: 2px;
  width: fit-content;
  text-align: center;
  color: rgb(222, 222, 222);
  font-family: serif;
  font-size: 1.2rem;
  font-weight: 100;
  background: rgba(140, 140, 140, 0.168);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .theater-list-container {
    margin: 20px;
    margin-top: 100px;
    margin-bottom: 80px;
  }
  .theater-card {
    width: 150px;
    height: 150px;
    margin: 10px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .theater-list-container {
    margin: 20px;
    margin-top: 100px;
    margin-bottom: 80px;
  }
  .theater-card {
    width: 175px;
    height: 175px;
    margin: 10px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .theater-list-container {
    margin: 20px;
    margin-top: 100px;
    margin-bottom: 80px;
  }
  .theater-card {
    width: 225px;
    height: 225px;
    margin: 10px;
  }
}
.tlModal {
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 12px 3px rgba(220, 217, 217, 0.7725490196);
  background: whitesmoke;
  width: 1222px;
  height: 500px;
  overflow-y: hidden;
}

.tlOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tlModalInfo {
  padding: 10px;
  height: 500px;
  width: 300px;
  color: rgb(71, 71, 71);
}

.tlModalImgContainer {
  width: 600px;
}

.tlModalImg {
  object-fit: cover;
  height: 500px;
}

.tlModalGeoLoc {
  height: 500px;
  width: 300px;
  color: rgb(94, 94, 94);
}

.tBackBut:hover {
  background-color: #777;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .tlModal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 300px;
    height: 450px;
    overflow-y: auto;
  }
  .tlModalInfo {
    height: 150px;
    font-size: x-small;
    margin-bottom: 20px;
  }
  .tlModalImgContainer {
    width: max-content;
    height: 200px;
    margin-bottom: 20px;
  }
  .tlModalImg {
    width: max-content;
    height: 200px;
  }
  .tlModalGeoLoc {
    max-height: 200px;
    max-width: 300px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .tlModal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 325px;
    height: 450px;
    overflow-y: auto;
  }
  .tlModalInfo {
    height: 150px;
    font-size: x-small;
    margin-bottom: 20px;
  }
  .tlModalImgContainer {
    width: max-content;
    height: 200px;
    margin-bottom: 20px;
  }
  .tlModalImg {
    width: max-content;
    height: 200px;
  }
  .tlModalGeoLoc {
    max-height: 200px;
    max-width: 400px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .tlModal {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    box-shadow: 0px 0px 12px 3px rgba(220, 217, 217, 0.7725490196);
    background: whitesmoke;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 700px;
    height: 400px;
    overflow-y: scroll;
  }
  .tlModalInfo {
    margin-top: -10px;
    height: 200px;
    width: 265px;
    font-size: 15px;
  }
  .tlModalImgContainer {
    margin-top: 15px;
    width: 400px;
  }
  .tlModalImg {
    object-fit: cover;
    height: 250px;
  }
  .tlModalGeoLoc {
    margin: 15px;
    width: 900px;
    height: 350px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .tlModal {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    box-shadow: 0px 0px 12px 3px rgba(220, 217, 217, 0.7725490196);
    background: whitesmoke;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 900px;
    height: 450px;
    overflow-y: scroll;
  }
  .tlModalInfo {
    margin-top: -10px;
    height: 200px;
    width: 265px;
    font-size: 15px;
  }
  .tlModalImgContainer {
    margin-top: 15px;
    width: 600px;
  }
  .tlModalImg {
    object-fit: cover;
    height: 250px;
  }
  .tlModalGeoLoc {
    margin: 15px;
    width: 900px;
    height: 400px;
  }
}
.about-us {
  background-color: black;
  margin-bottom: 20px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.8);
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  margin-bottom: 20px;
}

.about-header {
  text-align: center;
  margin-bottom: 30px;
}

.about-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-subtitle {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.about-section-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.about-section-content {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 40px;
}

.team-scroll-container {
  overflow-x: auto;
}

.team-container {
  display: flex;
  flex-wrap: nowrap;
}

.team-member {
  cursor: pointer;
  margin-right: 20px;
}

.member-info {
  text-align: center;
}

.member-image {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.member-name {
  font-size: 18px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  text-align: center;
  position: relative;
}

.popup-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px auto;
  display: block;
}

.popup-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.popup-location {
  font-size: 16px;
  margin-bottom: 10px;
}

.popup-learn-more {
  font-size: 14px;
  margin-bottom: 20px;
}

.linkedin {
  color: #0077b5;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

/*account*/
.accPage {
  margin-bottom: 75px;
}

.accWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.account {
  width: 60%;
  max-width: 1000px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  background-color: #e0e0e0;
  height: auto;
  margin: 1rem;
  margin-top: 100px;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 10px 10px 22px rgba(104, 104, 104, 0.479), -10px -10px 22px rgba(255, 255, 255, 0.75);
}

.account button {
  background-color: transparent;
  color: red;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: color 0.3s ease;
}

.account button:hover {
  color: #800000;
}

.account h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.account h3 {
  font-size: 20px;
  font-weight: 500;
  color: #d10000;
}

.account h1,
.account h3 {
  margin-bottom: 10px;
}

.account hr {
  border: 1px solid #cccccc;
  margin: 20px 0;
}

.account-details,
.edit-details,
.reservation-history {
  margin-bottom: 20px;
}

.edit-details {
  display: flex;
  justify-content: center;
  align-content: center;
}

.detail {
  margin-left: -40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.edit-details input {
  display: flex;
  align-content: center;
  justify-content: center;
  border: none;
  outline: none;
  background: none;
  background-color: #e0e0e0;
  padding: 0.8rem 1.1rem;
  border-radius: 20px;
  margin: 0.5rem 0 1rem 0;
  font-size: 1.2rem;
  color: #d10000;
  box-shadow: inset 5px 5px 11px rgba(0, 0, 0, 0.2), inset -5px -5px 11px rgba(255, 255, 255, 0.75);
}

.edit-details button {
  border: none;
  outline: none;
  background: none;
  width: 775px;
  margin: 0.6rem 0 1rem 0;
  cursor: pointer;
  font-size: 1.2rem;
  color: #d10000;
  text-transform: capitalize;
  padding: 0.9rem;
  border-radius: 20px;
  background-color: #e0e0e0;
  box-shadow: 10px 10px 22px rgba(0, 0, 0, 0.2), -10px -10px 22px rgba(255, 255, 255, 0.75);
}

.edit-details button:hover {
  box-shadow: inset 5px 5px 11px rgba(0, 0, 0, 0.2), inset -5px -5px 11px rgba(255, 255, 255, 0.75);
}

.birthdate-inputs {
  display: flex;
  gap: 20px;
}

.birthdate-input {
  width: 75px;
}

.reservation-history ul {
  list-style-type: none;
  padding: 0;
}

.reservation-history li {
  margin-bottom: 10px;
}

.reservation-history p {
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .account {
    width: 270px;
  }
  .edit-details input {
    width: 90%;
  }
  .edit-details button {
    width: 290px;
  }
  .birthdate-inputs {
    gap: 10px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .account {
    width: 400px;
  }
  .edit-details input {
    width: 90%;
  }
  .edit-details button {
    width: 390px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .account {
    width: 700px;
  }
  .edit-details input {
    width: 90%;
  }
  .edit-details button {
    width: 690px;
  }
  .birthdate-inputs {
    width: 400px;
  }
}
/*login*/
.lgcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
}

.signin-container {
  background-color: #e0e0e0;
  width: 400px;
  height: auto;
  margin: 1rem;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 10px 10px 22px rgba(104, 104, 104, 0.479), -10px -10px 22px rgba(255, 255, 255, 0.75);
}

.signin-header {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.signin-header h1 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
}

.logInput {
  border: none;
  outline: none;
  background: none;
  background-color: #e0e0e0;
  padding: 0.8rem 1.1rem;
  border-radius: 20px;
  margin: 0.5rem 0 1rem 0;
  font-size: 1.2rem;
  color: #d10000;
  box-shadow: inset 5px 5px 11px rgba(0, 0, 0, 0.2), inset -5px -5px 11px rgba(255, 255, 255, 0.75);
}

.signin-btn {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  margin: 0.6rem 0 1rem 0;
  cursor: pointer;
  font-size: 1.2rem;
  color: #d10000;
  text-transform: capitalize;
  padding: 0.9rem;
  border-radius: 20px;
  background-color: #e0e0e0;
  box-shadow: 10px 10px 22px rgba(0, 0, 0, 0.2), -10px -10px 22px rgba(255, 255, 255, 0.75);
}

.signin-btn:hover {
  box-shadow: inset 5px 5px 11px rgba(0, 0, 0, 0.2), inset -5px -5px 11px rgba(255, 255, 255, 0.75);
}

.signin-footer {
  text-align: center;
  margin-top: 20px;
}

.signin-footer p {
  font-size: 14px;
  color: #666;
}

.signin-footer a {
  color: #d10000;
  text-decoration: none;
  font-weight: 600;
}

.signin-footer a:hover {
  text-decoration: underline;
}

/*rgister*/
.rgcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 50px - 80px - 100px);
  padding-top: 50px;
  padding-bottom: 100px;
  margin-top: 50px;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-title {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.rgcontainer h3 {
  color: #d10000;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.register-page {
  display: flex;
  background-color: #e0e0e0;
  height: auto;
  margin: 1rem;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 10px 10px 22px rgba(104, 104, 104, 0.479), -10px -10px 22px rgba(255, 255, 255, 0.75);
}

.register-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  display: flex;
  justify-content: center;
  width: 775px;
  border: none;
  outline: none;
  background: none;
  background-color: #e0e0e0;
  padding: 0.8rem 1.1rem;
  border-radius: 20px;
  margin: 0.5rem 0 1rem 0;
  font-size: 1.2rem;
  color: #d10000;
  box-shadow: inset 5px 5px 11px rgba(0, 0, 0, 0.2), inset -5px -5px 11px rgba(255, 255, 255, 0.75);
}

.bdform-group {
  display: flex;
  width: 400px;
  gap: 20px;
}

.submit-btn {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  margin: 0.6rem 0 1rem 0;
  cursor: pointer;
  font-size: 1.2rem;
  color: #d10000;
  text-transform: capitalize;
  padding: 0.9rem;
  border-radius: 20px;
  background-color: #e0e0e0;
  box-shadow: 10px 10px 22px rgba(0, 0, 0, 0.2), -10px -10px 22px rgba(255, 255, 255, 0.75);
}

.submit-btn:hover {
  box-shadow: inset 5px 5px 11px rgba(0, 0, 0, 0.2), inset -5px -5px 11px rgba(255, 255, 255, 0.75);
}

.login-link {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #666;
}

.login-link a {
  color: #d10000;
  text-decoration: none;
  font-weight: 600;
}

.login-link a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 300px) and (max-width: 374px) {
  .register-form {
    width: 222px;
  }
  .form-control {
    width: 222px;
  }
  .bdform-group {
    display: flex;
    width: 260px;
    gap: 10px;
  }
}
@media screen and (min-width: 375px) and (max-width: 480px) {
  .register-form {
    width: 300px;
  }
  .form-control {
    width: 300px;
  }
  .bdform-group {
    display: flex;
    width: 300px;
    gap: 20px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .register-form {
    width: 400px;
  }
  .form-control {
    width: 300px;
  }
  .bdform-group {
    display: flex;
    width: 300px;
    gap: 20px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .register-form {
    width: 680px;
  }
  .form-control {
    width: 580px;
  }
}
/* WatchList */
.watchlistWrapper {
  display: flex;
  flex-direction: column; /* Ensure vertical alignment */
  align-items: center;
  margin-top: 75px;
  margin-bottom: 75px;
}

.watchlist-page-container {
  display: flex;
  flex-direction: column; /* Ensure vertical alignment */
  align-items: center;
  margin: 20px;
  padding: 10px;
  width: 100%;
}

.wlHead {
  margin: 20px;
}

.wlMsg {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px; /* Add space between heading and message */
}

.msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.watchlist-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.watchlist-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 300px;
  margin: 20px;
  padding: 10px;
}

.wlImg {
  justify-content: center;
  height: 325px;
  width: auto;
  box-shadow: 0px 0px 12px 3px rgba(222, 221, 221, 0.7725490196);
}

.wlIT {
  height: 40px;
  width: 200px;
  font-size: large;
  font-style: oblique;
}

.rfwBtn {
  background-color: rgba(187, 187, 187, 0.1882352941);
  border: none;
  box-shadow: 0px 0px 12px 3px rgba(222, 221, 221, 0.7725490196);
  color: rgb(216, 216, 216);
  cursor: pointer;
  padding: 3px;
  margin-top: -15px;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.rfwBtn:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .wlHead {
    font-size: x-large;
  }
  .watchlist-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90px;
    margin: 5px;
    padding: 10px;
  }
  .wlImg {
    justify-content: center;
    height: 130px;
    width: auto;
    box-shadow: 0px 0px 12px 3px rgba(222, 221, 221, 0.7725490196);
  }
  .wlIT {
    margin-top: 15px;
    width: 90px;
    font-size: 10px;
  }
  .rfwBtn {
    margin-top: -15px;
    font-size: 8px;
    box-shadow: 0px 0px 5px 2px rgba(222, 221, 221, 0.7725490196);
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .watchlist-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
    margin: 10px;
    padding: 10px;
  }
  .wlImg {
    justify-content: center;
    height: 205px;
    width: auto;
    box-shadow: 0px 0px 12px 3px rgba(222, 221, 221, 0.7725490196);
  }
  .wlIT {
    width: 150px;
    font-size: medium;
  }
  .rfwBtn {
    margin-top: -15px;
    font-size: 10px;
    box-shadow: 0px 0px 7px 3px rgba(222, 221, 221, 0.7725490196);
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .watchlist-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    margin: 20px;
    padding: 10px;
  }
  .wlImg {
    justify-content: center;
    height: 275px;
    width: auto;
    box-shadow: 0px 0px 12px 3px rgba(222, 221, 221, 0.7725490196);
  }
  .rfwBtn {
    margin-top: -15px;
    font-size: 14px;
    box-shadow: 0px 0px 8px 4px rgba(222, 221, 221, 0.7725490196);
  }
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .watchlist-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    margin: 20px;
    padding: 10px;
  }
  .wlImg {
    justify-content: center;
    height: 275px;
    width: auto;
    box-shadow: 0px 0px 12px 3px rgba(222, 221, 221, 0.7725490196);
  }
  .rfwBtn {
    margin-top: -15px;
    font-size: 16px;
    box-shadow: 0px 0px 9px 5px rgba(222, 221, 221, 0.7725490196);
  }
}

/*# sourceMappingURL=index.css.map */
