.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin: 30px;
  color: white; 
}

.abouttitle {
  font-size: 30px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.team-scroll-container {
  overflow-x: auto;
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.team-container {
  display: flex;
  gap: 40px;
  padding: 20px 0;
}

.team-member {
  position: relative;
  flex: 0 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  width: 250px;
  height: 400px;
  transition: transform 0.2s ease-in-out;
  overflow: hidden;
  position: relative; 
}

.team-member:hover {
  transform: translateY(-5px);
}

.member-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9); 
  padding: 10px;
  border-radius: 0 0 8px 8px;
  color: white;
  text-align: left;
}



.member-info h3 {
  margin-top: 10px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8); 
  text-align: left;
  padding: 0 10px;
}


.popup {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  color:black
}

.popup-content h2 {
  margin-top: 0;
  font-size: 24px;
}

.popup-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #888888;
}

img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  transition: transform 0.2s ease-in-out; 
}

.linkedin {
  margin-top: 10px;
  display: block;
  color: #0077b5;
  text-decoration: none;
}

.slide-in {
  animation: slideIn 1s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


  
  