/* Browse Page */
.browse-page-container {
  margin: -8px;
  margin-top: 1px;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
  position: relative;
}
.browse-page-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.browse-page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  z-index: 1;
  margin: 50px;
}
.bpVideo-Container {
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 12px 5px #000000;
  height: 360px;
}
.bpVideo-Container-enter {
  margin-top: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 12px 5px #000000;
  height: 360px;
}
.bpInfo {
  display: flex;
  align-items: center;
}
.bpTitle {
  font-style: oblique;
  color: rgb(222, 222, 222);
}
.bpText-Container {
  justify-content: center;
  margin-top: 200px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 5px;
  color: white;
  font-size: large;
  width: 500px;
  box-shadow: 0px 0px 12px 3px #000000c5;
  background-color: rgba(165, 165, 165, 0.1);
  border-radius: 5px;
}
.bpT {
  color: rgb(222, 222, 222);
}
.atwBtn {
  background-color: #bbbbbb30;
  border: none;
  box-shadow: 0px 0px 12px 3px #dddddd;
  color: rgb(216, 216, 216);
  cursor: pointer;
  padding: 3px;
  margin-bottom: 2px;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
}
.atwBtn:hover {
  transform: scale(1.1);
}
.atwNotif{
  margin-bottom: 50px;
  width: auto;
}


// Mobile Devices, iPads, Small and Large Screens
@media screen and (min-width: 320px) and (max-width: 1269px) {
  .browse-page-container {
    background-size: cover;
    background-position: center;
    height: auto;
    // width: max-content;
    position: relative;
    overflow: hidden;
  }
  .bpVideo-Container {
    height: auto;
    width: auto;
  }
  .bvid-content {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }

  .bpInfo {
    margin-top: -100px;
    padding-bottom: 100px;
    width: auto;
  }
  .bpText-Container {
    height: fit-content;
    width: auto;
  }
}

// Extra large screens
@media screen and (min-width: 1600px) {
  .bpText-Container{
    width: 800px;
  }
}
