.mLContainer {
  margin: 10px;
  margin-top: 100px;
}
.movie-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.mLHeading {
  padding-bottom: 50px;
  font-size: xx-large;
  color: rgb(229, 229, 229);
}
.mLWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mlCard-Container {
  display: flex;
  /* could be carousel if removed, just need extra styling */
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mlCard {
  display: flex;
  flex-wrap: wrap;
}
.mlCardWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1250px;
  margin-top: 20px;
  margin-bottom: 70px;
}
.mLImg-Container {
  margin-right: 50px;
}
.mLImg {
  height: 400px;
  width: auto;
}
.mLText-Container {
  justify-content: center;
  align-content: center;
  text-align: left;
  width: 600px;
  margin-right: 20px;
}
.mLT {
  font-size: xx-large;
  font-style: oblique;
  color: rgb(222, 222, 222);
}
.mLO {
  font-size: large;
  font-weight: 200;
  color: rgb(195, 192, 192);
}
