:root {
  background-color: black;
  color: white;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.ex {
  margin-top: 100px;
  font-size: xx-large;
  color: aliceblue;
}
